@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.cabecalho {
    width: 100%;
    height: 300px;
    background-image: url(./img/brasilgg.jpg);
    background-size: cover;
    background-position: center;

}


.cabecalho h1 {


    text-align: center;
    align-items: center;

}

h1 {
    font-size: 100px;
    height: 300px;
    font-family: 'Lobster', sans-serif;
    max-width: 100%;
    padding-top: 180px;
    color: aquamarine;
}

.menu {
    background:black;
    padding: 10px;
}

.menu ul li {
    display: inline-block;
    margin-left: 18%;
    font-size: 25px;
}

.menu ul li:hover {
    background: white;
    padding: 15px;
    border-radius: 15px;
    transition: 0.3s;
}

.menu ul li a{
    color: white;
    text-decoration: none;
}
.menu ul li a:hover{
    color: black;
    font-weight: bolder;
}



.container {
    display: flex;
    flex-wrap: wrap;

}

.estado1 {
    padding-top: 50px;

}


.estados {
    background: #ccc;
    width: 15%;
    border: 1px solid #dbd8d8;
}

.estados li a {
    font-weight: bolder;

}

.estados li a:hover {
    font-size: 30px;
    background: #c0bcbc;
    transition: 0.3s;
    border-radius: 5px;
    color: rgb(34, 51, 51);
}

.estados a {
    text-decoration: none;
    text-align: center;
    align-items: center;

}

.historia {
    background: #ccc;
    width: 60.5%;
}

h4 {
    font-size: 25px;
    text-align: center;
    padding-top: 40px;
    border-bottom: 1px solid #dbd8d8;
    padding-bottom: 30px;
    background: #a7aca9;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
}

p {
    text-indent: 50px;
    margin-left: 20px;
    font-size: 20px;
    text-align: left;
    line-break: loose;
    margin-right: 20px;

}

h3 {
    font-size: 25px;
    text-align: center;
    padding-top: 40px;
    border: 1px solid #dbd8d8;
    padding-bottom: 40px;
    background: #a7aca9;

}

.fotos {
    background: #ccc;
    width: 24%;
    border-left: 1px solid #dbd8d8;
}

.fotos img {
    width: 100%;
}